.repo_form{
    background-color: darkblue;
    width: 500px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    outline: black thin solid;
    color: white;
    font-weight: bold;
    padding-top: 50px;
}