*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.container{
    width: 152px;
    margin: 0 auto;
    padding-top: 150px;
}    
.square{
    height: 50px;
    width: 50px;
    outline: black thin solid;
    display:inline-block;
    vertical-align:top;
    text-align:center;
}
p{
    margin-top:15px;
}
#player{
    margin-bottom: 5px;
}
.winner{
    font-weight:bold;
    text-align:center;
}