<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Survey</title>
  <!--<link rel="stylesheet" src='./survey.css'>
    <script src="./survey.js"></script>-->
<link rel="stylesheet" type="text/css" href="templates/survey.css">
</head>

<body>
    <div id='container'>
        <div id='form_contain'>
            <form action='/survey_info' method='post'>
                <p>Your Name:</p>
                <input class='form_in' type='text' name='name'>
                <p>Dojo Location:</p>
                <select class='form_in' name='location'>
                    <option value="Mountain View">Mountain View</option>
                    <option value="Milwaukee">Milwaukee</option>
                    <option value="Seattle">Seattle</option>
                    <option value="Chicago">Chicago</option>
                </select>
                <p>Favorite Language:</p>
                <select class='form_in', name='fav_lang'>
                    <option value="JS">JavaScript</option>
                    <option value="Node">Node</option>
                    <option value="Seattle">Java</option>
                    <option value="Chicago">Ruby on Rails</option>
                </select>
                <p>Comment (optional):</p>
                <textarea id='comment' type='text' name='comment' rows:'6'></textarea>
                <button type='submit'>Submit</button>
            
            </form>
        </div>
    </div>
</body>
</html>