

        <div id='info_contain'>
            <p id='heading'>Submitted Information</p>
            <p class='label'>Name:</p>
            <p class='data'><%= name %></p>
            <p class='label'>Dojo Location:</p>
            <p class='data'><%= location %></p>
            <p class='label'>Favorite Language:</p>
            <p class='data'><%= fav_lang %></p>
            <p class='label'>Comment:</p>
            <p class='data'><%= comment %></p>
            <button id="back">Go Back</button>
        </div>
